<div class="content-wrapper" id="vendor-orders">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card col-sm-12 col-xl-12">
            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="card-header">Orders</h5>
                </div>

            </div>

            <div class="table-responsive ">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Sl NO.</th>
                            <th>Order Date</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Delivery Details</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Payment Method</th>
                            <th>Status</th>
                            <th> </th>

                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each orders}}
                        <tr>

                            <th scope="row">{{inc @index}}</th>
                            <th>{{this.date}}</th>
                            <td><i class="fab fa-angular fa-lg text-dark me-3">
                                    <strong>{{this.product.name}}</strong><br>
                                    <strong>Price ₹{{this.product.price}}</strong></i>
                            </td>
                            <td>{{this.product.brand}}</td>
                            {{#if orders.vendor}}
                          <td>{{this.vendor.name}}<br><strong>{{this.vendor.businessName}}</strong></td>
                          {{/if}}

                            <td>{{this.deliveryDetails.firstName}} {{this.deliveryDetails.lastName}}<br>
                                {{this.deliveryDetails.phone}}, {{this.deliveryDetails.email}}<br>
                                {{this.deliveryDetails.addressLineOne}}<br>{{this.deliveryDetails.addressLineTwo}},
                                {{this.deliveryDetails.town}}, {{this.deliveryDetails.state}},
                                {{this.deliveryDetails.country}}, {{this.deliveryDetails.postcode}}</td>
                            <td>{{this.products.quantity}}</td>
                            <td>₹{{this.productTotal}}</td>
                            <td>{{this.paymentMethod}}</td>
                            <td class="cart__close">
                                {{#if_equal this.products.status "Cancel"}}
                                <span class="badge text-white bg-danger">{{this.products.status}}</span>
                                {{else}}
                                <span class="badge text-white bg-dark">{{this.products.status}}</span>{{/if_equal}}</td>
                                
                            <td>
                                {{#if_equal this.products.status "Placed"}}
                                <select>
                                    <option selected disabled
                                        >
                                        Placed</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Shipped"}'>
                                        Shipped</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Arrived"}'>
                                        Arrived</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Delivered"}'>
                                        Delivered</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Cancel"}'>
                                        Cancel</option>
                                </select>
                                {{/if_equal}}
                                {{#if_equal this.products.status "Shipped"}}
                                <select>
                                    
                                    <option
                                        selected disabled>
                                        Shipped</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Arrived"}'>
                                        Arrived</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Delivered"}'>
                                        Delivered</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Cancel"}'>
                                        Cancel</option>
                                </select>
                                {{/if_equal}}
                                {{#if_equal this.products.status "Arrived"}}
                                <select>
                                    <option
                                        selected disabled>
                                        Arrived</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Delivered"}'>
                                        Delivered</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Cancel"}'>
                                        Cancel</option>
                                </select>
                                 {{/if_equal}}
                                 {{#if_equal this.products.status "Delivered"}}
                                 <select>
                                    
                                    <option
                                        selected disabled>
                                        Delivered</option>
                                    <option
                                        data-value='{"orderId":"{{this._id}}","productId":"{{this.product._id}}","status":"Cancel"}'>
                                        Cancel</option>
                                </select>
                                {{/if_equal}}
                                {{#if_equal this.products.status "Cancel"}}
                                <select>
                                <option
                                        selected >Canceled
                                        </option>
                                        </select>
                                {{/if_equal}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<script>

    $('select').change(function () {
        var orderedProduct = ($(this).find(':selected').data('value'));
        console.log(orderedProduct)

        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/admin/updateOrderStatus',
                        data: {
                            orderId: orderedProduct.orderId,
                            productId: orderedProduct.productId,
                            status: orderedProduct.status
                        },
                        method: 'post',
                        success: (response) => {
                            if (response.status) {
                                 location.reload()
                                 setTimeout(() => {
                                    swal("Order Status has been updated", {
                                icon: "success",
                    });
                                }, "1000")
                                
                                             

                            }
                        }
                    })
                    
                }
            });


    });




</script>