
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper ">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                {{#if user}}
                <a href="#">{{user.firstName}} {{user.lastName}}</a>
                <a href="/logout">Log Out</a>

                {{else}}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn text-white primary-btn2" data-toggle="modal"
                            data-target="#loginModal">
                            log in
                        </button>
                        <button type="button" class="btn text-white primary-btn2" data-toggle="modal"
                            data-target="#signupModal">
                            Sign up
                        </button>

                {{/if}}
            </div>
        </div>
        <div class="offcanvas__nav__option">
            
            <a href="#" class="search-switch"><img src="/user/img/icon/search.png" alt=""></a>
            <a href="/wishlist"><img src="/user/img/icon/heart.png" alt=""> <span class="badge badge-light ml-3 mb-4"
                    id="wishlist">{{user.wishlistcount}}</span></a>
            <a href="/cart"><img src="/user/img/icon/cart.png" alt=""> <span class="badge badge-light ml-3 mb-4"
                    id="cartCount">{{user.cartCount}}</span></a>
            <a href="/profile"><img src="/user/img/icon/user1.png" alt=""><span
                    class="badge badge-light ml-3 mb-4"></span> </a>
        </div>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header ">
        <div class="header__top ">
            <div class="container">
                <div class="header__top__right">
                    <div class="header__top__links">
                        {{#if user}}
                        <a href="/profile">{{user.firstName}} {{user.lastName}}</a>
                        <a href="/logout">Log Out</a>
                        {{else}}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn text-white primary-btn2" data-toggle="modal"
                            data-target="#loginModal">
                            log in
                        </button>
                        <button type="button" class="btn text-white primary-btn2" data-toggle="modal"
                            data-target="#signupModal">
                            Sign up
                        </button>
                        {{/if}}

                       
                        <!-- user Login -->
                        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content text-center">
                                    <div class="modal-header p-5">
                                        <h4>LOGIN</h4>
                                    </div>

                                    <div class="modal-body m-5">
                                        <div class="alert alert-danger" id="emailOrPass" role="alert">
                                            <p>Your email and password does not match</p>
                                        </div>
                                        <div class="alert alert-danger" id="blockedErrLogin" role="alert">
                                            <p>your account is blocked</p>
                                        </div>

                                        <form action="javascript:void(0)" method="post" name="userLogin" id="userLogin">
                                            <div class="md-form  mb-4">
                                                <input type="email" name="email"
                                                    placeholder="enter your email or username"
                                                    class="form-control form-control-lg" required />


                                            </div>

                                            <div class="md-form mb-4">
                                                <input type="password" id="password" name="password"
                                                    placeholder="enter your password"
                                                    class="form-control form-control-lg" required />

                                            </div>
                                            <div>
                                                <a data-toggle="modal" data-target="#forgotPasswordModal"
                                                    data-dismiss="modal" class="text-black-50 btn">forgot password</a>
                                            </div>
                                            <button type="submit" class="btn text-white primary-btn2">Login</button>
                                        </form>


                                    </div>

                                    <div class="text-center">
                                        <p class="mt-4">Don't have an account? <a data-toggle="modal"
                                                data-target="#signupModal" class="text-black-50 btn"
                                                data-dismiss="modal">Sign
                                                Up</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <!-- user forgott Password -->

                        <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content text-center">
                                    <div class="modal-header p-5">
                                        <h4>FORGOT PASSWORD</h4>
                                    </div>

                                    <div class="modal-body m-5">
                                        <form action="javascript:void(0)" method="post" name="userForgotPass"
                                            id="userForgotPass">
                                            <div class="md-form  mb-4">
                                                <input type="email" name="email"
                                                    placeholder="enter your email or username"
                                                    class="form-control form-control-lg" required />
                                                <span id="requiredEmail" class="text-danger"> </span>
                                            </div>
                                            <div class="md-form mb-4">
                                                <input type="number" name="phone" placeholder="enter your phone number"
                                                    class="form-control form-control-lg" required />
                                                <span id="requiredPhone" class="text-danger"> </span>
                                            </div>
                                            <button type="submit" onclick="submitForgot()"
                                                class="btn text-white primary-btn2">submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- user SignUp -->

                        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-danger" id="signUpErr" role="alert">
                                            <p id="errMessege"></p>
                                        </div>
                                        <form action="javascript:void(0)" method="post" name="userSignup"
                                            id="userSignup">
                                            <div class="row">
                                                <div class="col-md-6 mb-4 pb-1">

                                                    <div class="form-outline">
                                                        <input type="text" id="firstName" name="firstName"
                                                            class="form-control form-control-lg" autocomplete="off"
                                                            placeholder="First name" required />
                                                        <span id="firstNameerr" class="text-danger"> </span>

                                                    </div>

                                                </div>
                                                <div class="col-md-6 mb-4 pb-1">

                                                    <div class="form-outline">
                                                        <input type="text" id="lastName" name="lastName"
                                                            class="form-control form-control-lg" autocomplete="off"
                                                            placeholder="Last name" required />
                                                        <span id="lastNameerr" class="text-danger"> </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-outline form-white">
                                                    <input type="text" id="email_signup" name="email" class="form-control form-control-lg"
                                                        autocomplete="off" placeholder="Your Email" required />

                                                    <span id="emailerr" class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="mb-4 pb-1">

                                                <div class="form-outline form-white">
                                                    <input type="number" name="phone"
                                                        class="form-control form-control-lg" autocomplete="off"
                                                        placeholder="Phone Number" required />
                                                    <span id="phoneerr" class="text-danger"> </span>
                                                </div>

                                            </div>
                                            <div class="mb-4 pb-1">
                                                <div class="form-outline">
                                                    <input type="password" id="password_signup" name="password"
                                                        class="form-control form-control-lg" autocomplete="off"
                                                        placeholder="Password" required />
                                                    <span id="passworderr" class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="mb-4 pb-1">
                                                <div class="form-outline">
                                                    <input type="password" name="c_password" id="c_password"
                                                        class="form-control form-control-lg" autocomplete="off"
                                                        placeholder="Confirm Password" required />
                                                    <span id="confirmPassworderr" class="text-danger"> </span>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  site-btn2" data-dismiss="modal">Close</button>
                                        <button class="btn text-white primary-btn2" type="submit">Submit</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 ">
                    <div class="header__logo">
                        <a href="/"><img src="/user/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>

                            <li><a href="/viewOrders">My Orders</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        
                        <a href="#" class="search-switch"><img src="/user/img/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="/user/img/icon/heart.png" alt=""> <span
                                class="badge badge-light ml-3 mb-4" id="wishlist-Count">{{wishlistcount}}</span< /a>
                                <a href="/cart"><img src="/user/img/icon/cart.png" alt=""><span
                                        class="badge badge-light ml-3 mb-4" id="cart-Count">{{cartCount}}</span> </a>
                                <a href="/profile"><img src="/user/img/icon/user1.png" alt=""><span
                                        class="badge badge-light ml-3 mb-4"></span> </a>


                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>

        <div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header p-5">
                        <h4>ENTER NEW PASSWORD</h4>
                    </div>

                    <div class="modal-body m-5">



                        <form action="javascript:void(0)" method="post" name="updatePassword" id="updatePassword">
                            <div class="md-form  mb-4">
                                <input type="password" name="password" placeholder="enter your new password"
                                    class="form-control form-control-lg" required />
                                <span id="requiredPassword" class="text-danger"> </span>

                            </div>
                            <div class="md-form  mb-4">
                                <input type="password" name="c_password" placeholder="confirm password"
                                    class="form-control form-control-lg" required />
                                <span id="requiredC_Password" class="text-danger"> </span>
                            </div>


                            <button type="submit" 
                                class="btn text-white primary-btn2">submit</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
        <!-- Otp -->

        <div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container py-3 d-flex justify-content-center align-items-center">
                            <div class="card otpcard p-2 text-center">
                                <p class="text-danger" id="invalidOtp">Invalid OTP</p>
                                <form action="javascript:void(0)" id="otpForm" method="post">
                                    <h6>Please enter the one time password <br> to verify your account</h6>
                                    <div> <span>A code has been sent to</span> <small id="userPhoneForgot"></small>
                                    </div>
                                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">

                                        <input class="m-2 text-center form-control rounded" type="text" id="first"
                                            maxlength="1" form="otpForm" name="otp" /> <input
                                            class="m-2 text-center form-control rounded" type="text" id="second"
                                            maxlength="1" form="otpForm" name="otp" /> <input
                                            class="m-2 text-center form-control rounded" type="text" id="third"
                                            maxlength="1" form="otpForm" name="otp" /> <input
                                            class="m-2 text-center form-control rounded" type="text" id="fourth"
                                            maxlength="1" form="otpForm" name="otp" /> <input
                                            class="m-2 text-center form-control rounded" type="text" id="fifth"
                                            maxlength="1" name="otp" /> <input
                                            class="m-2 text-center form-control rounded" type="text" id="sixth"
                                            maxlength="1" form="otpForm" name="otp" />

                                    </div>
                                    <div class="mt-4"> <button onclick="submitOtp()" class="btn btn-dark px-4 validate"
                                            id="signUpOtp">Validate</button>
                                        <div class="mt-4">
                                            <button onclick="submitForgotOtp()" class="btn btn-dark px-4 validate"
                                                id="forgotOtp">Validate</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </header>
    <!-- Header Section End -->

    <script>

        document.getElementById('forgotOtp').hidden = true
        document.getElementById('signUpOtp').hidden = true

        document.addEventListener("DOMContentLoaded", function (event) {

            function OTPInput() {
                const inputs = document.querySelectorAll('#otp > *[id]');
                for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function (event) { if (event.key === "Backspace") { inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus(); } else { if (i === inputs.length - 1 && inputs[i].value !== '') { return true; } else if (event.keyCode > 47 && event.keyCode < 58) { inputs[i].value = event.key; if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode > 64 && event.keyCode < 91) { inputs[i].value = String.fromCharCode(event.keyCode); if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); }
            } OTPInput();
        });

        document.getElementById("emailOrPass").hidden = true
        document.getElementById("blockedErrLogin").hidden = true
        document.getElementById("signUpErr").hidden = true
        document.getElementById("invalidOtp").hidden = true



        $("#userLogin").validate({
            errorClass: "error",
            rules: {
                email: {
                    required: true,
                    email: true,

                },
                password: {
                    required: true,
                    minlength: 8
                },
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '/userLogin',
                    method: 'post',
                    data: $('#userLogin').serialize(),
                    success: function (response) {
                        console.log(response)
                        if (response.status) {
                            window.location.reload(1);
                        }
                        if (response.userBlockErr) {
                            document.getElementById("blockedErrLogin").hidden = false
                            setInterval(() => {
                                document.getElementById("blockedErrLogin").hidden = true
                            }, 4000)

                        }
                        if (response.userLogErr) {
                            document.getElementById("emailOrPass").hidden = false
                            setTimeout(() => {
                                document.getElementById("emailOrPass").hidden = true
                            }, 4000)

                        }
                    }
                })
            }

        })

        $("#userSignup").validate({
            errorClass: "error",
            rules: {
                firstName: {
                    required: true,
                    minlength: 3,

                },
                lastName: {
                    required: true,
                },

                email_signup: {
                    required: true,
                    email: true,

                },
                phone: {
                    required: true,
                    minlength: 10
                },
                password_signup: {
                    required: true,
                    minlength: 5
                },
                c_password: {
                    required: true,
                    equalTo: '#password_signup'
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '/userSignup',
                    method: 'post',
                    data: $('#userSignup').serialize(),
                    success: function (response) {
                        if (response.status) {
                            $('#otpModal').modal('toggle');
                            document.getElementById('signUpOtp').hidden = false
                            document.getElementById('userPhoneForgot').innerHTML = "+91****" + response.phone
                            $('#signupModal').modal('hide');

                        }

                        else if (response.existErr) {
                            console.log(response)
                            document.getElementById("signUpErr").hidden = false
                            setInterval(() => {
                                document.getElementById("signUpErr").hidden = true
                            }, 4000)
                            document.getElementById('errMessege').innerHTML = response.existErr
                            setTimeout(function () {
                                $('#signUpErr').fadeOut('fast');
                            }, 3000);
                        }

                    }
                })
            }
        })

        function submitOtp() {
            $('#otpForm').submit();
            var a = $('#otpForm').serialize()
            console.log(a)
            $.ajax({
                url: '/otp',
                method: 'post',
                data: $('#otpForm').serialize(),
                success: (response) => {
                    if (response.status) {
                        window.location.reload(1);
                    } else {
                        document.getElementById("invalidOtp").hidden = false
                        setTimeout(() => {
                            document.getElementById("invalidOtp").hidden = true
                        }, 4000)
                    }
                }
            })
        }
        function submitForgot() {
            document.getElementById('signUpOtp').hidden = true
            $('#userForgotPass').submit();
            $.ajax({
                url: '/forgotPassword',
                method: 'post',
                data: $('#userForgotPass').serialize(),
                success: (response) => {
                    console.log(response)
                    if (response.status) {
                        $('#otpModal').modal('toggle');
                        document.getElementById('forgotOtp').hidden = false
                        document.getElementById('userPhoneForgot').innerHTML = "+91****" + response.phone
                        $('#forgotPasswordModal').modal('hide');
                    }
                    else {
                        alert("err")
                    }
                }
            })
        }


        function submitForgotOtp() {
            $('#otpForm').submit();
            $.ajax({
                url: '/forgotPassWordOtp',
                method: 'post',
                data: $('#otpForm').serialize(),
                success: (response) => {
                    if (response.status) {
                        $('#otpModal').modal('hide');
                        $('#updatePasswordModal').modal('toggle');

                    } else {
                        document.getElementById("invalidOtp").hidden = false

                        setTimeout(() => {
                            document.getElementById("invalidOtp").hidden = true
                        }, 4000)
                    }
                }

            })
        }

            $("#updatePassword").validate({
                errorClass: "error",
            rules: {
                password_signup: {
                    required: true,
                    minlength: 5
                },
                c_password: {
                    required: true,
                    equalTo: '#password',

                }
            },
            submitHandler:function(form){
            $.ajax({
                url: '/updatePassword',
                method: 'post',
                data: $('#updatePassword').serialize(),
                success: (response) => {
                    if (response.status) {
                        $('#updatePasswordModal').hide()
                        swal("Password Changed!", "Your password changed successfully please do login", "success");
                        setTimeout(()=>{
                            $('#loginModal').modal('toggle');
                        },1000)
                    } else {
                        document.getElementById("invalidOtp").hidden = false
                    }
                }

            })
            }
        
        })






    </script>