<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

<section class="shopping-cart spad">

    <div class="container">
        {{#if products}}
        <div class="row">
            <div class="col-lg-8">

                <div class="shopping__cart__table">

                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                       <a href="/viewProduct?id={{this.product._id}}"> <img src="/product-images/{{this.product.images.[0]}}" alt=""></a>
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{this.product.name}}</h6>
                                        <h5>₹{{this.product.price}}/-</h5>
                                    </div>
                                </td>

                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <button class="fa fa-angle-left inc qtybtn"
                                                onclick="changeQty('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)"></button>

                                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                                            <button class="fa fa-angle-right dec qtybtn"
                                                onclick="changeQty('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)"></span></button>

                                        </div>
                                    </div>
                                </td>
                                <span id="productId" hidden>{{this.product._id}}</span>
                                <td class="cart__price"><span id="{{this.product._id}}1"></span></td>
                                <td class="cart__close"><a href="javascript:void(0)"
                                        onclick="remove('{{this._id}}','{{this.product._id}}')"><i
                                            class="fa fa-close"></i></a></td>
                            </tr>
                          {{/each}}

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/">Continue Shopping</a>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="/" id="formCouponCode">
                        <input type="text" name="couponCode" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span id="sub-total">₹{{total}}</span></li>
                        <li>Discount <span id="discount">₹{{total}}</span></li>
                        <li>Total <span id="total">₹{{total}}</span></li>
                    </ul>
                    <a href="/checkOut" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="container">

            <div class="col-sm-12 empty-cart-cls text-center mb-5 mt-5">
                <img src="/user/img/icon/empty-cart.png" width="130" height="130" class="img-fluid mb-5 mr-3">
                <h3 class="mb-5"><strong>Your Cart is Empty</strong></h3>
                <a href="/" class="primary-btn mt-5 mb-5">Shop now </a>

            </div>

            {{/if}}
        </div>
</section>

