<div class="container my-4">
    <article class="card" >
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body" id='invoice'>
            <div class="d-flex">

                <address class="p2" >
                    <strong>Delivery Address:</strong> <br>
                    {{orderedProduct.deliveryDetails.firstName}}{{orderedProduct.deliveryDetails.lastName}}
                    <br>Ph:{{orderedProduct.deliveryDetails.phone}}<br>
                    {{orderedProduct.deliveryDetails.addressLineOne}}
                    <br>{{orderedProduct.deliveryDetails.addressLineTwo}}
                    <br>{{orderedProduct.deliveryDetails.town}}, {{orderedProduct.deliveryDetails.state}},
                    {{orderedProduct.deliveryDetails.country}}, {{orderedProduct.deliveryDetails.postcode}}
                </address>

                <div class="ml-auto p-2">
                    <a type="button" href="/viewBill/{{orderedProduct._id}}/{{orderedProduct.products.item}}" 
                                        class="btn-sm btn-outline-dark">View Bill</a>
                    <button class="btn-sm btn-danger"
                        onclick="changeProductStatus('{{orderedProduct._id}}','{{orderedProduct.products.item}}','Cancel')">Cancel
                        Order</button>
                </div>
            </div>
            <article class="card my-3" id="orderDetails">
                <div class="card-body row" >
                    <div class="col"> <strong>Orderd Date:</strong> <br>{{orderedProduct.date}}</div>
                    <div class="col"> <strong>Shipping BY:</strong> <br> ESTILO, | <i class="fa fa-phone"></i>
                        +1598675986 </div>
                    <div class="col"> <strong>Status:</strong> <br> 
                    {{#if_equal orderedProduct.products.status "Cancel"}}
                    <span class="badge text-white bg-danger">{{orderedProduct.products.status}}</span></div>
                    {{else}}
                    <span class="badge text-white bg-dark">{{orderedProduct.products.status}}</span></div>
                    {{/if_equal}}
                    <div class="col"> <strong>Payment</strong> <br> {{#if_equal orderedProduct.paymentMethod "cashOnDelivery"}}Cash on Delivery{{/if_equal}}{{#if_equal orderedProduct.paymentMethod "onlinePayment"}}Online Payment{{/if_equal}}</div>
                </div>


            </article>
            <div class="track mb-4 ">
                {{#if_equal orderedProduct.products.status "Placed"}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                        class="text">Order confirmed </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-cart-arrow-down"></i> </span> <span class="text">
                        Shipped</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step"> <span class="icon"> <i class="fa  fa-archive"></i> </span> <span class="text">Delivered</span> </div>
                {{/if_equal}}{{#if_equal orderedProduct.products.status "Shipped"}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                        class="text">Order confirmed </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-cart-arrow-down"></i> </span> <span class="text">
                        Shipped</span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text">Arrived </span> </div>
                <div class="step "> <span class="icon"> <i class="fa  fa-archive"></i> </span> <span class="text">Delivered</span> </div>
                {{/if_equal}}{{#if_equal orderedProduct.products.status "Arrived"}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                        class="text">Order confirmed </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-cart-arrow-down"></i> </span> <span class="text">
                        Shipped</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text">Arrived </span> </div>
                <div class="step "> <span class="icon"> <i class="fa  fa-archive"></i> </span> <span class="text">Delivered</span> </div>
                {{/if_equal}}{{#if_equal orderedProduct.products.status "Delivered"}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                        class="text">Order confirmed </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-cart-arrow-down"></i> </span> <span class="text">
                        Shipped</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text">Arrived </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa  fa-archive"></i> </span> <span class="text">Delivered</span> </div>
                {{/if_equal}}
                {{#if_equal orderedProduct.products.status "Cancel"}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                        class="text">Order confirmed </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-cart-arrow-down"></i> </span> <span class="text">
                        Shipped</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text">Arrived </span> </div>
                <div class="step active-cancel "> <span class="icon cancel"> <i class="fa  fa-times "></i> </span> <span class="text">Canceled</span> </div>
                {{/if_equal}}

            </div>
            
            <div class="col-md-12 pt-5 text-center">
                <img src="/product-images/{{orderedProduct.product.images.[0]}}" class="img-sm border mt-4">

                <p class="title">
                    {{orderedProduct.product.name}}<br><strong>{{orderedProduct.product.brand}}</strong>
                    <input type="text" id="priceValue" value="{{orderedProduct.product.price}}" hidden></input>
                    <input type="text" id="quantity" value="{{orderedProduct.products.quantity}}" hidden></input>
                </p> <br><span>({{orderedProduct.products.quantity}} Items)   </span> X <span id="price">₹{{orderedProduct.product.price}} = </span> <span>  ₹{{orderedProduct.totalAmount}}</span>
            </div>

            <hr>
            <a href="/viewOrders" class="btn btn-dark" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to
                orders</a>
        </div>
    </article>
</div>


<script>
    function generatePDF() {
        // Choose the element that our invoice is rendered in.
        const element = document.getElementById('invoice');
        // Choose the element and save the PDF for our user.
        html2pdf().from(element).save();
    }
</script>